@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Domine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-size: 1rem;
font-family: 'Hahmlet', sans-serif;
}

body {
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-image: url('img/8.jpg');
background-position: center;
z-index: -1;
}


.header {
position: relative;
top: 0%;
left: 0%;
width: 100%;
height: 50px;
padding: 33px;
background-image: linear-gradient(to bottom,#632b6c96, #c86b9896);
color: #ffff;
display: flex;
justify-content: space-between;
align-items: center;
border-radius: 5px;
z-index: 100;
}
.header.sticky {
border-bottom: .1rem solid linear-gradient(to bottom, rgba(73, 94, 129, 0.616), rgb(12, 19, 31));
}
.logo img {
height:30%;
width:40% ;
margin: 10px;
padding: 30px 0 10px 0;
}
.navbar{
width: 60%;
}
.navbar input{
width: 50%;
height: auto;
outline: none;
padding: 6px 15px;
margin: 10px 0 10px 0;
font-size: 1rem;
border-radius: 20px;
border: 1px solid #ccc;
}

.navbar button {
font-size: 0.9rem; 
color:#ffffff;
background: #24152c59;
margin: 10px;
padding: 10px;
border-radius: 20px;
border: none;
cursor: pointer;
transition: .3s;
}
.navbar button:hover{
color:#24152c;
background-image: linear-gradient(to bottom left ,rgb(254, 156, 127),rgb(200, 107, 152));
transition: .3s;
}

.container {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height:100%;
padding: 5% 8% 5% 8%;
background-color: rgba(36, 21, 44, 0.596);
z-index: 1;

}
.weather-data {
width: 100%;
}
.weather-data h4 {
font-size: 1rem;
font-weight: 400;
}
/*
.current-weather { 
/*  background-image: linear-gradient(to bottom left, rgba(73, 94, 129, 0.623), rgb(12, 19, 31));
content: '';
position: relative;
color: #fff;
background: inherit;
overflow: hidden;
border-radius: 20px;
padding: 20px 70px 20px 20px;
justify-content: space-between;
display: flex;
box-shadow: inset 0 0 0 100px rgba(200, 107, 152, 0.233);
backdrop-filter: blur(10px);
}
*/

.current-weather { 
content: '';
position: relative;
color: #fff;
background: inherit;
overflow: hidden;
border-radius: 20px;
border: #fff solid 1px;
padding:50px;
justify-content: space-between;
display: flex;
box-shadow: inset 0 0 0 200px rgba(200, 107, 152, 0.096);
backdrop-filter: blur(10px);
}

.current-weather .details{
width: 50%;
display: grid;
align-items: center;
padding: 15px;
}

.current-weather h2 {
padding: 0px 50px;
font-size: 1.3rem;
}
.current-weather .temp {
padding-left:20px;
margin-top: -10px;
font-size: 2rem;
}
.current-weather h4 {
margin-top: -20px;
margin-left: 24px;
align-items: center;
font-size: 0.9rem;
}
.current-weather .icon img {
max-width: 100%;
height: auto;
}
.current-weather.icon h4 {
text-transform: capitalize;
}

.days-forecast h2 {
font-size: 1.5rem;
margin: 20px 0;
color: #fff;
}

.weather-cards {
display: flex;
gap: 20px;
}

.weather-cards h4 {
margin-top: 12px;
}

.weather-cards .card {
font: 0.6rem sans-serif;
content: '';
list-style: none;
padding: 15px 15px;
width: calc(90% / 5);
position: relative;
color: #fff;
background: inherit;
overflow: hidden;
border-radius: 20px;
box-shadow: inset 0 0 0 200px rgba(200, 107, 152, 0.233);
backdrop-filter: blur(10px);
}
.weather-cards .card:hover{
color: #24152c;
background-image: linear-gradient(to bottom left ,rgba(254, 157, 127, 0.726),rgba(200, 107, 152, 0.712));
transition: .3s;
backdrop-filter: blur(10px);
}
.weather-cards .card img {
max-width: 70px;
margin: 5px 0 -12px 0;
}

@media (max-width: 1400px) {

.current-weather h2 {
padding: 0px;
font-size: 1rem;
}
.weather-data .current-weather {
padding: 20px;
}
.weather-cards {
flex-wrap: wrap;
}
.weather-cards .card {
width: calc(90% / 5);
}
}

@media (max-width: 1200px) {
.current-weather h2 {
    padding: 0px;
font-size: 0.9rem;
}
.weather-cards .card {
width: calc(90% / 3);
}
}

@media (max-width: 980px) {

.logo{
width: 90%;
}
.navbar {
width: 100%;
}

.navbar input {
width: 45%;
font-size: 0.6rem;
}

.navbar button {
width: 20%;
font-size: 0.6rem;
padding: 7px
}
.weather-input {
width: 450px;
}
.current-weather h2 {
    padding: 0px;
font-size: 1rem;
}
.current-weather .temp{
font-size: 1.1rem;
}
.current-weather.icon img{
    width: 80%;
}
.weather-cards .card {
width: calc(80% / 3);
}
}
@media (max-width: 750px) {


.logo{
display: none;
}
.navbar{
width: 90%;
padding: 15px 5px;
align-items: center;
}

.navbar input {
width: 40%;
font-size: 0.5rem;
padding: 6px;
border: none;
}

.navbar button {
font-size: 0.5rem;
padding: 5px;
}
.container {
width: 100%;
flex-wrap: wrap;
}
.current-weather{
flex-direction: column;
width: 90%;
}
.current-weather .details h2{
    padding: 0px;
font-size: 0.7em;
}
.current-weather .details .temp {
font-size: 0.9rem;
}

.current-weather .details h4{
display: inline;
padding: 0px;
font-size: 0.5em;
margin: auto;
}
.current-weather .icon{
margin-top: -70px;
margin-left: 200px;
width: 30%;
}
.current-weather .icon h4{
font-size: 0.5rem;
}
.weather-cards .card {
padding: 10px;
width: calc(80% / 2);
}
.weather-cards .card h4 {
font-size: 0.6rem;
}
.weather-cards .card h3 {
font-size: 0.6rem;
}
.weather-cards .card h2 {
font-size: 0.8rem;
}
}

